<div class="border-bottom row" style="margin-top: 48px; padding-bottom: 5px;">
    <div class="d-none d-md-block col-md-2">
        <a target="_blank" type="button" style="text-align:center; padding: 10px;" href="{{project['link']}}">
            <div style="background-color:white; text-align:center; padding: 10px;">
                <img src="data:image/png;charset=utf-8; base64, {{project['icon']}}" width="100" height="100"
                    class="img-fluid">
            </div>
        </a>
    </div>
    <div class="col-7">
        <h4> <b>{{project['project name']}} </b></h4>

        {% if "description" in project%}
        <div style="color: rgb(120 120 120);"><b>Project description: </b>{{project['description']}} </div>
        {% endif %}
        {% if "github repo" in project%}
        <div style="color: rgb(120 120 120);"><b>github repo: </b>{{project['github repo']}} </div>
        {% endif %}
    </div>

    <div class="col-3" style="display: flex;align-items: center; margin-bottom: 24px;">
        <a target="_blank" href="/project/{{project['id']}}" type="button" class="btn btn-dark">Details</a>
    </div>

</div>